.grid {
  display: grid;
  margin: 1rem auto;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
}

.description {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input[type="text"] {
  border: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  font-family: "Bahnschrift", "sans-serif";
  text-transform: uppercase;
}

.button {
  font-family: "Bahnschrift", "sans-serif";
  border: 0;
  padding: 0.5rem 0;
  background-color: #303765;
  color: #eee;
  border-radius: 5px;
  font-weight: 600;
  transition: 100ms ease-in all;
}

.button:disabled {
  color: #888;
  background-color: #efefef;
}

.form input:focus,
.form input:active {
  outline: 0;
}

.table {
  width: 100%;
}

.tableRow {
  display: table-row;
}

.tableHeader {
  font-variant: all-small-caps;
  color: #22222299;
}

.tableCell {
  display: table-cell;
  text-align: center;
}

.icon {
  transform: translateY(0.1rem);
  font-size: 1.2rem;
}

td.certificate {
  padding: 0.5rem 0;
}

.certificate button {
  width: 100%;
}

.certificateIcon {
  font-size: 1.1rem;
  transform: translateY(3px);
}

.success {
  color: green;
}

.pending {
  color: darkgoldenrod;
}

.error {
  color: red;
}

.blurrable-card {
  transition: filter 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.15s ease,
    border-color 0.15s ease;
}

.blur {
  filter: blur(2px);
}

@media screen and (max-width: 600px) {
  .grid {
    margin-top: 0;
    margin-bottom: 1rem;
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .tableHeader {
    font-variant: normal;
  }

  .certificateIcon {
    font-size: 1.5rem;
  }
}
